/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #2f80ed #151f30;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 14px;
  }

  *::-webkit-scrollbar-track {
    background: #151f30;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #2f80ed;
    border-radius: 0px;
    border: 3px solid #2f80ed;
  }

  #root {
    height: 100%;
  }

  .home-btn-krs,
  .logout-btn-krs {
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    color: #abb7c4;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }

  .login-btn-krs {
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    color: #abb7c4;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }

  .register-btn-krs {
    background-color: #dd003f;
    color: #ffffff;
    padding: 11px 25px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-family: 'Dosis', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: 15px;
  }

  .home-btn-krs {
    margin: 0 15px;
  }

  .welcome-krs {
    margin-right: 15px;
  }

  .home-btn-krs.active,
  .home-btn-krs:hover,
  .logout-btn-krs:hover,
  .welcome-krs:hover,
  .welcome-krs.active,
  .login-btn-krs:hover,
  .login-btn-krs.active {
    color: #DCF82B;
  }

  .register-btn-krs:hover,
  .register-btn-krs.active  {
    color: #f39c12;
  }

  :disabled {
    opacity: 0.7;
  }

  svg {
    cursor: pointer;
  }

/* .card {
  min-width: 18rem;
  max-width: 18rem;
}

.card-img-top {
  width: 100%;
  object-fit: contain;
}

.btn-group {
  margin-right: 20px;
}

.badge {
  margin-left: 10px;
}

.enrolled-span {
  text-decoration: underline;
  background-color: green;
  color: white;
  padding: 2%;
  border-radius: 4px;
}

.notifications {
  background-color: rgba(238, 74, 74, 0.699);
  margin: 0 auto;
  text-align: center;
  padding: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 6px;
  color: white;
  font-style: italic;
  text-decoration: underline;
  box-shadow: 0 5px 10px #cccccc;
}

.pagination-container {
  display: flex;
  justify-content: center;
}

.d-flex {
  width: 100%;
  justify-content: space-around;
}

button:focus,
button:active:focus,
button.active:focus,
a:focus,
a:active:focus,
a.active:focus {
  box-shadow: none !important;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.home-page-pages-input-section {
  display: flex;
  justify-content: space-between;
}

.input-group.mb-3 {
  width: 17%;
  margin-right: 17px;
}

@media only screen and (max-width: 414px) {

  .navbar-nav.ml-auto {
    display: flex;
    flex-direction: row;
    padding-left: 0px;
  }

  .navbar-nav.ml-auto li {
    margin-left: 10px;
  }

  .jumbotron.jumbotron-fluid.text-light {
    text-align: center;
  }

  .row.d-flex.d-wrap {
    padding: 0;
    margin: 0;
  }

  .card-deck.d-flex {
    width: 100vw;
    align-items: center;
  }

  .input-group.mb-3 {
    flex: 1;
    margin-right: 50px;
  }
} */