.card {
  min-width: 18rem;
  max-width: 18rem;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.btn-group {
  margin-right: 20px;
}

.badge {
  margin-left: 10px;
}

.enrolled-span {
  text-decoration: underline;
  background-color: green;
  color: white;
  padding: 2%;
  border-radius: 4px;
}

.notifications {
  background-color: rgba(238, 74, 74, 0.699);
  margin: 0 auto;
  text-align: center;
  padding: 1%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 6px;
  color: white;
  font-style: italic;
  text-decoration: underline;
  box-shadow: 0 5px 10px #cccccc;
}

.pagination-container {
  display: flex;
  justify-content: center;
}

.d-flex {
  width: 100%;
  justify-content: space-around;
}

button:focus,
button:active:focus,
button.active:focus,
a:focus,
a:active:focus,
a.active:focus {
  box-shadow: none !important;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

@media only screen and (max-width: 414px) {

  .navbar-nav.ml-auto {
    display: flex;
    flex-direction: row;
    padding-left: 0px;
  }

  .navbar-nav.ml-auto li {
    margin-left: 10px;
  }

  .jumbotron.jumbotron-fluid.text-light {
    text-align: center;
  }

  .row.d-flex.d-wrap {
    padding: 0;
    margin: 0;
  }

  .card-deck.d-flex {
    width: 100vw;
    align-items: center;
  }
}